body {
  margin-top: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.error{
   color: #ff0000;
   font-size: 10px;
   font-weight: bold;
}

.input-class{
  margin-bottom: 10px;
  
}

.my-label{
  display: block;
  margin: 10px 5px;
}

.my-input-field{
    width: 300px;
    margin: 10px 0px;
    outline: none;
    border-radius: 10px;
    border: 1px solid gray;
}

.master-form{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}


.array-styles{
  width: 300px;
  border: 1px solid gray;
  outline: none;
  border-radius: 10px;
  margin-right: 5px;
}



